<h3 class="mt-5 text-center">Welcome to E-Commerce API</h3>
<p class="lead mt-4 text-center">
  New Member? <a href="/register">Register</a>
</p>
<p class="lead mt-4 text-center">Have An Account? <a href="/login">Login</a></p>
