.parent-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(6, minmax(200px, 1fr));
  grid-gap: 10px;
}
img {
  width: 200px;
  height: 200px;
}
@keyframes animation {
  0% {
    color: violet;
  }
  50% {
    color: blueviolet;
  }
  100% {
    color: blue;
  }
}
p {
  font-size: 32px;
  font-weight: bold;
  animation: animation 1s infinite;
}
h1 {
  text-decoration: underline;
}
